{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h4>{{ post.title }}</h4>
    <a href="{% url 'account:profile' post.user.id %}"><h6>{{ post.user.username }}</h6></a>
    <p>{{ post.body }}</p>
    <p>{{ post.updated|date:'Y-M' }}</p>

    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <hr>
    <p>{{ comments.count }} Comments</p>
    {% if request.user.is_authenticated %}
        <form method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Send" class="btn btn-primary mb-2">

        </div>

        </form>
    {% else %}
        <p class="alert alert-danger">Please login to add comment.</p>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <div class="card bg-dark text-white"><p class="card-header">{{ comment.user }} |  {{ comment.created|timesince }} </p>
        <P class="card-body">{{ comment.body }}</P> </div>
    {% empty %}
        <p> No Comments yet </p>
    {% endfor %}

{% endblock %}